@font-face {
    font-family     : 'Droid Sans Mono'; 
    src             : url(https://themes.googleusercontent.com/static/fonts/droidsansmono/v5/ns-m2xQYezAtqh7ai59hJTwtzT4qNq-faudv5qbO9-U.eot);
    src             : local('Droid Sans Mono'),
                        local('DroidSansMono'),
                        url(/font/DroidSansMono.eot) format('embedded-opentype'),
                        url(https://themes.googleusercontent.com/static/fonts/droidsansmono/v5/ns-m2xQYezAtqh7ai59hJTwtzT4qNq-faudv5qbO9-U.eot?#iefix) format('embedded-opentype'),
                        url(https://themes.googleusercontent.com/static/fonts/droidsansmono/v5/ns-m2xQYezAtqh7ai59hJTwtzT4qNq-faudv5qbO9-U.eot) format('embedded-opentype'),
                        url(/font/DroidSansMono.woff) format('woff'),
                        url(https://themes.googleusercontent.com/static/fonts/droidsansmono/v5/ns-m2xQYezAtqh7ai59hJUYuTAAIFFn5GTWtryCmBQ4.woff) format('woff'),
                        local('Consolas');
    font-style      : normal;
    font-weight     : 400;
}

html {
    height           : 94%;
}

body {
    width               : 100%;
    height              : 95%;
    /* fix overflow change of fancybox */
    overflow            : hidden;
    font-family         : "Droid Sans Mono", "Ubuntu Mono", "Consolas", monospace;
    font-size           : 16px;
    background-color    : white;
}