*.

webpack.config.js

modules/jquery/external
modules/jquery/dist
modules/jquery/src
!modules/jquery/dist/jquery.min.js

modules/jq-console/lib
modules/jq-console/src
modules/jq-console/test
!modules/jq-console/jqconsole.min.js

*.swp

